
<div class="col-sm-12 col-md-12 col-lg-12 section-follows">
    <div class="col-sm-12 col-md-7 col-lg-7 contenedor-follows">
        <h1 class="h1-strong">Encuentra a más personas!</h1>
        <div class="people">
            <div *ngFor="let user of users" class="item-user">
                <mat-card class="user-follow-card" *ngIf="user._id != identity._id">
                    <div class="info-user-follow">
                        <div class="follow-panel-body">
                            <div class="image-user-follow">
                                <a [routerLink]="['/profile', user._id]" *ngIf="!user.image">
                                    <img src="../../../assets/img/unnamed.png">
                                </a>
                                <a [routerLink]="['/profile', user._id]" *ngIf="user.image">
                                    <img src="{{ url+'get-image-profile/'+user.image }}">
                                </a>
                            </div>
                            <div>
                                <div class="user-name-follow">
                                    <a [routerLink]="['/profile', user._id]">
                                        {{user.name + ' ' + user.surname}}
                                    </a>
                                </div>
                                <div class="nick-follow">
                                    {{user.nick}}
                                </div>
                            </div>
                        </div>
                        <div class="follows-options-button" *ngIf="user._id != identity._id">
                            <div *ngIf="follows.indexOf(user._id) < 0" >
                                <mat-icon matTooltip="Comenzar a seguir" class="seguirUsuario" (click)="followUser(user._id)">add</mat-icon>
                            </div>
                            <div *ngIf="follows.indexOf(user._id) >= 0" 
                                (mouseenter)="mouseEnter(user._id)"
                                (mouseleave)="mouseLeave(user._id)">
                                <span *ngIf="user._id == followUserOver; else following">
                                    <mat-icon matTooltip="Dejar de seguir" class="dejarSeguirUsuario" (click)="unFollowUser(user._id)">clear</mat-icon>
                                </span>
                                <ng-template #following>
                                    <span>
                                        <mat-icon matTooltip="Siguiendo" class="siguiendoUsuario">how_to_reg</mat-icon>
                                    </span>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <!-- paginacion -->
        <ul class="pagination-users-follows">
            <li style="color: black;" *ngIf="page > 1">
                <a class="paginator-users-follows" [routerLink]="['/users', prevPage]">
                    Anterior
                </a>
            </li>
            <li style="color: black;" *ngIf="pages != page">
                <a class="paginator-users-follows" [routerLink]="['/users', nextPage]">
                    Siguiente
                </a>
            </li>
        </ul>
        
    </div>
    
    <div class="col-sm-12 col-md-5 col-lg-5">
        <sidebar></sidebar>
    </div>
</div>
